$header-height: 3rem;

body {
  font-family: "Open Sans", sans-serif;

  margin: 0;
  padding: 0;

  &>header {
    box-shadow: 0 0 3px 3px gray;
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 2;
    background: url(/logo_grande.png) no-repeat 0% -5% yellow;
  }
  &>main {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
  }

  &>footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    font-size: small;
    background: gray;
    padding: 0.5rem;
    opacity: .2;
    &:hover {
      opacity: 1;
    }
  }

}

@media print {
  .noprint {
    display: none;
  }
  body > header {
    display: none;
  }
  body > main {
    top: 0 !important;
    position: relative;
  }
}
@media screen {
  .print {
    display: none;
  }
}
