main.certificate {
  padding-top: 3rem;
  width: 30rem;
  margin: auto;

  h2 {
  }
  p {
    width: 26rem;
    text-align: justify;
  }

  form {
    width: 30rem;
    input {
      font-size: xx-large;
      width: 26rem;
    }
    button {
      font-size: xx-large;
      width: 26rem;
    }
  }


}
